/* Custom Properties */
:root {
  /* Colors */
  --dark-grey-primary: #333;
  --dark-grey-primary-with-opacity: #323232bf;
  --light-grey-primary-with-opacity: #00000040;
  --dark-font:  #181818;
  --light-font: #ffe9cb;
  --link-hover: #ffb87d;
  /* fonts */
  --font-titles:'Mulish', sans-serif;
  --font: 'Poppins', sans-serif;

  /* Another color palette */
  /* --brown-lioness-01: #160903;
  --brown-lioness-02: #1f1207;
  --brown-lioness-03: #52442f;
  --green-lioness-01: #141603;
  --green-lioness-02: #1f210c;
  --green-lioness-03: #292b16;
  --gray-lioness-00: #4b4a36;
  --gray-lioness-01: #5d5b47;
  --gray-lioness-02: #7f7a69;
  --gray-lioness-03: #9c9586;
  --gray-lioness-04: #cac7b5; */

}

/*Reset de estilos*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}

/*Fuente general y tamaño por defecto (1rem)*/
* {
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

p{
  padding: 1rem 0;
}

.enable{
  display: inline-block;
}

.disable{
  display: none;
}

/* --------- Estilos de la barra de navegación --------------*/
header{
  background-color: var(--dark-grey-primary-with-opacity);
  transition: all 250ms ease-out;
}

nav {
  background-color: inherit;
  color: var(--light-font);
  font-size: .8rem;
  font-weight: 200;
  text-align: end;
  padding: 1rem 1rem;
  width: 100%;
  position:fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav > div.name-nav > span{
  padding: 0;
  margin: 0;
  font-size: .75rem;
}
nav > div.name-nav > span.title-nav{
  opacity: 0;
  transition: opacity 300ms ease;
}

.show-title-nav{
  opacity: 1;
  transition: opacity 300ms ease;
}

nav > div > a {
  font-size: inherit;
  color: inherit;
  padding: 0 .5rem;
  transition: text-shadow 200ms ease;
}

nav > div > a:hover {
  color: var(--link-hover);
  text-shadow: 1px 1px 3px rgba(245, 233, 71, 0.473) ;
  z-index: 20;
}

.solid-navBar{
  background-color: var(--dark-grey-primary);
}

#nav-mobile > div > img{
  cursor:pointer;
  width: 30px;
  height: auto;
}

#links-movile{
  font-size: 1.5rem;
  font-weight: 600;
  color: inherit;
  background-color: var(--dark-grey-primary-with-opacity);
  width: 90vw;
  height: 20rem;
  margin: 5vw;
  border-radius: 1rem;
  padding: 0 .5rem;
  position: absolute;
  top: 5rem;
  left: 0;
  transition: text-shadow 200ms ease,
              all 500ms ease;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#links-movile > a{
  color: var(--light-font);
}


/* Estilos de las secciones */

main > section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title-1{
  padding-top: 3.5rem;
  font-family: var(--font-titles);
  font-size: 4rem;
  font-weight: 600;
  color: var(--light-font);
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.title-2{
  font-family: var(--font-titles);
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--light-font);
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.tittle-1-off{
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.title-3{
  font-family: var(--font);
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--light-font);
}

.title-4{
  font-family: var(--font);
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--dark-font);
}

.title-5{
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-font);
}

.right{
  text-align: right;
}

.secciones{
  padding: 3rem 1rem;
  max-width: 992px;
}

.title-sticky{
  position: sticky;
  top: 10vh;
}

.description-sticky{
  position: sticky;
  top: calc(10vh + 12rem);
}

/* ------------ Estilos dedicados -----------------*/

/*---  SECCION: Home ---*/
#home{
  background-image: url('./images/hero-image.jpeg');
  background-position: 100% 100%;
  background-size: cover;
  height: 100vh;
  font-size: 4rem;
  font-weight: 400;
  color: rgb(255, 233, 203);
}

#home > div {
  background-color: var(--light-grey-primary-with-opacity);
  text-align: center;
  padding: 2rem 4rem ;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* #home > div > img {
  width: 10%;
  border-radius: 50%;
  height: auto;
  position: relative;
  top: 1rem;
  left: 15vw;
} */

.back-1{
  background-color: var(--light-grey-primary-with-opacity);
}

/*---  SECCION: Mis proyectos ---*/

#proyects > .secciones > article {
  padding: .75rem 0;
}

.proyects-animations{
  margin-top: 10rem;
  transition: all 1.5s ease;
}

.proyects-animations-active{
  margin-top: 0rem;
}

.proyect-container{
  display: flex;
  flex-flow: column nowrap;
}

.proyect-container > img {
  width: 95%;
  margin: 2.5%;
  cursor: pointer;
}

.proyect-container > div{
  font-size: .9rem;
  padding: 2.5%;
}

/* popups images */
.popupImage{
  width: 100vw;
  max-width: 900px;
  padding: 1rem 3rem;
}

.in-progrees-site{
  width: 100vw;
  height: 100vh;
  background-color: #333d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
  position:fixed;
  top: 0%;
  left: 0;
}

.in-progrees-site > p{
  color: aliceblue;
  font-size: 4rem;
}


/* Contacto */

#contact > .secciones > article{
  display: flex;
  flex-flow: column nowrap;
}

.email,
.redes{
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

/* edicion de iconos */
.icon > img{
  background-color: beige;
  color: pink;
  height: 1.5rem;
  fill: pink;
}




/* medias query */

@media(min-width: 576px){
  nav {
    font-size: 1rem;
  }

  nav > div.name-nav > span{
    font-size: .9rem;
  }
}

@media(min-width: 768px){
  nav {
    padding: 1rem 2rem;
  }

  nav > div.name-nav > span{
    font-size: 1rem;
  }


  .title-1{
    padding-top: 0rem;
    font-family: var(--font-titles);
    font-size: 5rem;
    font-weight: 600;
    color: var(--light-font);
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  
  .title-2{
    font-family: var(--font-titles);
    font-size: 4rem;
    font-weight: 400;
    color: var(--light-font);
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .tittle-1-off{
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
  
  .title-3{
    font-family: var(--font);
    font-size: 3rem;
    font-weight: 400;
    color: var(--light-font);
  }
  
  .title-4{
    font-family: var(--font);
    font-size: 3rem;
    font-weight: 400;
    color: var(--dark-font);
  }
  
  .title-5{
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-font);
  }
  
  .right{
    text-align: right;
  }

  #home > div {
    text-align: start;
    padding: 2rem 4rem ;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  .secciones{
    padding: 3rem 1rem;
    max-width: 992px;
  }
  
  .title-sticky{
    position: sticky;
    top: 10vh;
  }
  
  .description-sticky{
    position: sticky;
    top: calc(10vh + 12rem);
  }
  .proyect-container{
    max-width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .proyects-animations:nth-child(even) > .proyect-container{
    flex-flow: row-reverse nowrap;
    text-align: right;
  }

  .proyect-container > img {
    min-width: 45%;
    cursor: pointer;
  }
  
  .proyect-container > div >  p {
    font-size: .9rem;
    /* padding: 4rem 2rem; */
  }

  #contact > .secciones > article{
    flex-flow: row nowrap;
  }

}

@media(min-width: 992px){
  nav > div > a {
    word-spacing: .5rem;
    padding: 0 1rem;
  }
}

@media(min-width: 1200px){
}

@media(min-width: 1400px){
}